
.team-text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 0.625rem;
    margin-inline: 1rem;
    margin-block: 4rem;
    font-style: normal;
}

.extra-big{
    font-size: 0.75rem;
    margin-top: 3rem;
}

.team-grid-container{
    display: grid;
    /* height: 100vh; */
    margin-top: 4rem;
    margin-inline: 5rem;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    grid-template-columns:repeat(5,150px);
    grid-auto-columns:minmax(300px,auto);

    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

@media(max-width:870px){
    .team-grid-container{
        margin:0;
        display: block;
    }
}

.team-card{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    /* gap: .2rem; */
    justify-content: flex-start;
    align-items: center;
    /* margin-inline: 40%; */
    /* margin-block: 1rem; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}



.card-img{
    width: 150px;
    height: 200px;
}
.card-img img{
    width: 100%;
    height: 100%;
   object-fit: cover;
}
.card-title{
    padding-top: 1rem;
    font-size: 1rem;
}

.card-social{
    padding-block: 1rem;

    display: flex;
    flex-direction: row;
    gap: .6rem;
    justify-content: flex-start;
    align-items: space-between;

}