@font-face {
  font-family: "GoboldRegular";
  src: local("GoboldRegular"),
  url("./fonts/Gobold_Regular.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "ProductSans";
  src: local("ProductSans"),
  url("./fonts/Product_Sans.ttf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  font-family: ProductSans, sans-serif;
}

